@use "../utils/box";

.panel.deaths {
  flex-direction: column;
  @include box.spacing(1, (1.5, 1, 1));

  .filters {
    @include box.margin(1, 0, 0);
    justify-content: center;

    li {
      flex: 0 0 0;

      button {
        @include box.margin(0.5);
      }
    }
  }
}
