@use "../utils/box";

.panel.deaths {
  flex: 1;
  flex-direction: column;
  @include box.padding(1.5, 1, 1);
  @include box.margin(0.5, 1, 0.5);

  .chart {
    flex: 1;
    overflow: auto;
  }

  .filters {
    flex-shrink: 0;
    justify-content: center;
    @include box.margin(1, 0, 0);

    li {
      flex: 0 0 0;

      button {
        @include box.margin(0.5);
      }
    }
  }
}
