@use "../utils/box";

.panel.filters {
  justify-content: space-between;

  .button-group {
    display: flex;
    flex-wrap: wrap;

    button {
      min-width: 0;
      flex-shrink: 0;
      @include box.margin(0, 1, 0, 0);

      &:last-child {
        @include box.margin(0);
      }
    }
  }
}
