.views {
  flex: 1;
  display: flex;
  overflow: auto;
}

// .view-enter {
//   opacity: 0;
// }
// .view-enter-active {
//   opacity: 1;
//   transition: opacity 5000ms ease-in;
// }
// .view-exit {
//   opacity: 1;
// }
// .view-exit-active {
//   opacity: 0;
//   transition: opacity 5000ms ease-in;
// }
