@use "../utils/box";

.panel.locations {
  flex: 1;
  overflow: auto;
  flex-direction: column;
  @include box.margin(0, 1, 0.5);

  .button-group {
    justify-content: center;

    li {
      flex: 0 0;
    }
    button {
      @include box.margin(0.5);
    }
  }
}
