@use "../utils/box";

.months {
  display: flex;
  flex-wrap: wrap;
  @include box.margin(0, 0.5);

  .wrapper {
    flex: 1 0 25%;
    display: flex;
    max-width: 25%;
    overflow: auto;
    max-height: 33.333%;

    .panel {
      flex: 1;
      position: relative;
      flex-direction: column;
      @include box.margin(0.5);

      .title {
        display: flex;
        justify-content: space-between;
      }

      .chart {
        flex: 1;
        display: flex;
        overflow: auto;
        position: relative;
        align-items: center;
        justify-content: center;

        .count {
          position: absolute;
        }
      }
    }
  }
}
