@use "../utils/box";
@use "../utils/theme";

.header {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include box.padding(0.5, 1.5);
}

@include theme.apply(".header") using ($mode) {
  color: theme.color("on-primary", $mode);
  background-color: theme.color("primary", $mode);
}
