@use "../utils/box";
@use "../utils/theme";

.panel {
  display: flex;
  border-width: 1px;
  border-radius: 4px;
  border-style: solid;
  @include box.spacing(1, 1);

  // box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
  //   0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.7), 0 3px 4px -2px rgba(0, 0, 0, 0.5);
}

@include theme.apply(".panel") using ($mode) {
  border-color: theme.color("surface", $mode);
  background-color: theme.color("surface", $mode);
}
