{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "@data": "./src/data",
          "@styles": "./src/styles",
          "@components": "./src/components"
        }
      }
    ]
  ]
}
