@use "./variables" as *;
$border-color: $font-color-disabled;

.button-group {
  flex: 1;
  display: flex;

  button {
    flex: 1;
    outline: none;
    cursor: pointer;
    border-right: none;
    color: $font-color-disabled;
    background-color: transparent;
    border-top: 1px solid $border-color;
    border-left: 1px solid $border-color;
    border-bottom: 1px solid $border-color;

    &:first-child {
      border-radius: 2px 0 0 2px;
    }

    &:last-child {
      border-radius: 0 2px 2px 0;
      border-right: 1px solid $border-color;
    }

    &:hover {
      color: $font-color;
      background-color: $background-color;
    }

    &.active {
      color: $font-color;
      background-color: $background-color;
    }
  }

  &.vertical {
    flex-direction: column;

    button {
      flex: 1;
      border-bottom: none;
      border-top: 1px solid $border-color;
      border-left: 1px solid $border-color;
      border-right: 1px solid $border-color;

      &:first-child {
        border-radius: 2px 2px 0 0;
      }

      &:last-child {
        border-radius: 0 0 2px 2px;
        border-bottom: 1px solid $border-color;
      }
    }
  }
}
