@use "./variables" as *;

ul.list {
  flex: 1;
  margin: 0;
  padding: 0;
  display: flex;
  overflow: auto;
  list-style: none;
  flex-direction: column;
  padding: $spacing $spacing * 2 0 $spacing;

  li {
    flex: 1;
    display: flex;
    cursor: pointer;
    padding: $spacing;
    position: relative;
    border-radius: 2px;
    align-items: center;
    justify-content: center;
    margin-bottom: $spacing;
    background-color: $background-color;
    box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.5);

    .dot {
      border-width: 2px;
      border-radius: 50%;
      border-style: solid;
      width: $spacing * 1.3;
      margin-right: $spacing;
      height: $spacing * 1.3;
      min-width: $spacing * 1.3;
      min-height: $spacing * 1.3;
      background-color: $base-color;
    }

    &.disabled {
      box-shadow: none;
      font-style: italic;
      color: $font-color-disabled;
      background-color: transparent;

      &:hover {
        background-color: $background-color;

        .dot {
          background-color: $base-color !important;
        }
      }

      .dot {
        background-color: transparent !important;
      }

      .deaths {
        color: inherit;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  ul.list {
    flex-direction: row;

    li {
      height: 100%;
      margin: $spacing $spacing 0 $spacing;
    }
  }
}
