@use "./variables" as *;

ul.list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  flex-direction: column;

  li {
    flex: 1;
    display: flex;
    cursor: pointer;
    position: relative;
    align-items: center;
    margin: 0 0 $spacing 0;

    .dot {
      border-width: 1px;
      border-radius: 50%;
      border-style: solid;
      width: $spacing * 1.3;
      margin-right: $spacing;
      height: $spacing * 1.3;
      min-width: $spacing * 1.3;
      min-height: $spacing * 1.3;
    }

    .deaths {
      color: $font-color;
      white-space: nowrap;
      font-size: $font-size * 0.8;

      div:last-child {
        font-size: $font-size * 0.7;
      }
    }

    &.disabled {
      font-style: italic;
      color: $font-color-disabled;

      .dot {
        background-color: transparent !important;
      }

      .deaths {
        color: inherit;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  ul.list {
    flex-direction: row;
    margin: 0 0 $spacing 0;

    li {
      height: 100%;
      margin: 0 $spacing * 0.5 $spacing * 0 0;
    }
  }
}
