@use "utils/box";
@use "utils/text";
@use "utils/theme";

html {
  -webkit-font-smoothing: antialiased;
}

body {
  @include box.spacing();
  @include text.size("base");
}

body,
button {
  font-family: "Roboto";
}

[data-theme="dark"] {
  body {
    color: theme.color("color", "dark");
    background-color: theme.color("background", "dark");
  }
}

[data-theme="light"] {
  body {
    color: theme.color("color");
    background-color: theme.color("background");
  }
}

.layout {
  display: flex;
  flex-wrap: wrap;

  & > .wrapper {
    flex: 1 0 50%;
    max-width: 50%;
  }
}
