@use "./variables" as *;

main {
  flex: 1;
  display: flex;
  overflow: auto;
  flex-direction: column;

  section {
    &.top {
      flex: 1;
      display: flex;
      overflow: auto;
      background-color: rgba(0, 0, 0, 0.3);

      figure {
        padding: $spacing $spacing * 2 $spacing 0;
      }
    }

    &.bottom {
      height: 33%;
      display: flex;
      flex-direction: row;
      padding: $spacing $spacing * 1.5 0 $spacing;
      box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.5);
    }

    figure {
      flex: 1;
      margin: 0;
      overflow: auto;
    }
  }

  aside {
    overflow: auto;
    margin: 0 $spacing / 2 0 0;
    padding: 0 $spacing * 2 0 $spacing;
  }
}

@media screen and (max-width: 1000px) {
  section.top {
    flex-direction: column;
  }
}
