$spacing: 1rem;
$font-size: 1.6rem;
$border-radius: 2px;
$link-color: #4894fe;
$base-color: #121212;
$background-color: #212121;
$font-color: darken(#fff, 20%);
$font-color-disabled: darken($font-color, 40%);
